



.stored-city {
    width: 100%;
    max-width: 375px;
}

#city-entry {
    height: 40px;
    width: 145px;
}

.col-3 {
    height: 475px;
}

.current-div {
    height: 350px;
}

.forecast {
    min-width: 175px;
    text-align: center;
}

/* UV Index Color References */

.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.violet {
    background-color: violet;
}